@import '../../../../styles.scss';
.card{
  max-width: 170px;
  min-height: 160px;
  height: 210px;
  margin: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.containerImg{
  @include flex();
  width: 100%;
  height: 50%;
  overflow: hidden;
}
