<div class="card shadow">
  <div class="containerImg">
    <img src={{recipeRes.recipe.image}} alt="">
  </div>
  <span>
    <h4 class=" ml-2 mt-2 text-base font-bold">{{recipeRes.recipe.label.substring(0, 15)}}...</h4>
  </span>
  <div *ngFor="let mealType of recipeRes.recipe.mealType">
    <small class=" ml-2">{{mealType}}</small>
  </div>
  <div class="flex justify-between items-center mx-2 mt-3">
    <small><u class="text-blue-700 cursor-pointer">Show</u></small>
    <div>
      <img src="../../../assets/logo.png" class=" h-3 sm:h-6" alt="Flowbite Logo">
    </div>
    <div *ngIf="this.storedRecipe.includes(recipeRes.recipe.uri.substr(-32))"(click)="recipeSaved(recipeRes.recipe.uri.substr(-32))" class="cursor-pointer flex items-center">
      <mat-icon class="cursor-pointer">favorite</mat-icon>
    </div>
    <div *ngIf="!this.storedRecipe.includes(recipeRes.recipe.uri.substr(-32))" (click)="recipeSaved(recipeRes.recipe.uri.substr(-32))" class="cursor-pointer flex items-center">
      <mat-icon >favorite_border</mat-icon>
    </div>

  </div>
</div>
