<div class=" flex items-center justify-center flex-col">
  <div class="flex ">
    <div class="contRecipes">
      <div class="hero">
        <app-hero (search)="onSearch($event)"></app-hero>
      </div>
      <div class="flex justify-center items-center mb-4">
        <mat-icon *ngIf="currentPage > 0" class="px-6 cursor-pointer hover:text-blue-800" (click)="prev()">arrow_back_ios</mat-icon>
        <mat-icon *ngIf="recipesData.hits" class="px-6 cursor-pointer hover:text-blue-800" (click)="next()">arrow_forward_ios</mat-icon>
      </div>
      <app-list-recipes [load]="load" [recipes]='recipes' (storedRecipe)="storedRecipe($event)"></app-list-recipes>
    </div>
    <div class="menuBag">
      <h1>MenuBag</h1>
      <app-menu-bag  [recipes]='recipesSaved'></app-menu-bag>
    </div>
  </div>
</div>

