/* You can add global styles to this file, and also import other style files */
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-image: linear-gradient(to right top, #d1cac2, #d7d2ca, #ddd9d2, #e4e1db, #eae8e3, #eae8e3, #eae8e3, #eae8e3, #e4e1db, #ddd9d2, #d7d2ca, #d1cac2);
  min-height: 100vh;
}
